<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link active"
      href="#synchronization-tab"
      data-toggle="tab"
      aria-expanded="true"
      >Sistema</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#mercado-libre-tab" data-toggle="tab"
      >Mercado Libre</a
    >
  </li>
</ul>

<div class="tab-content">
  <!--Contenido del Tab Sistema-->

  <div class="tab-pane active" id="synchronization-tab">
    <!--card deck es el contenedor que separa diferentes card segun los tipos de configuraciones-->
    <div class="card-deck">
      <!-- card para Configuraciones de Sincronización-->
      <div class="card shadow">
        <div class="card-header py-3">
          <div
            class="d-flex flex-md-row flex-sm-column align-items-md-center justify-content-md-between align-items-sm-center justify-content-sm-center"
          >
            <h6 class="m-0 font-weight-bold text-primary">
              Configuraciones de Sincronización
            </h6>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group row mb-2">
            <!--Columna 1 IZQ-->
            <div class="col-md-4 izq-aling">
              <!-- Grupos de filas -->
              <div class="form-group row mb-2">
                <div class="col-md-6 izq-aling">
                  <div class="row mb-2 label-wrapper">
                    <div class="col-md-10">
                      <label class="control-label" for="stock_risk" title=""
                        >Riesgo de stock:</label
                      >
                    </div>
                    <div class="col-md-1">
                      <div
                        class="ico-help"
                        title="Valor mínimo de stock permitido para que un producto esté disponible para vender."
                      >
                        <i class="fa fa-question-circle"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    class="form-control text-box single-line"
                    id="stock_risk"
                    name="stock_risk"
                    type="number"
                    min="0"
                    max="50"
                    step="1"
                    [(ngModel)]="stock_risk"
                  />
                  <span
                    class="field-validation-valid"
                    data-valmsg-for="stock_risk"
                    data-valmsg-replace="true"
                  ></span>
                </div>
              </div>
            </div>

            <!--Columna 2 MEDIO-->
            <div class="col-md-4 izq-aling">
              <!-- Grupos de filas -->
            </div>

            <!--Columna 3 DER-->
            <div class="col-md-4 izq-aling">
              <!-- Grupos de filas -->
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-center">
              <button
                class="btn btn-outline-primary mr-1"
                (click)="saveSynchronizationProperties()"
              >
                <i *ngIf="loading" class="fas fa-spin fa-spinner m-1"></i>
                Guardar
              </button>
              <button
                class="btn btn-outline-secondary ml-1"
                (click)="cancelProperties()"
              >
                <i *ngIf="canceling" class="fas fa-spin fa-spinner m-1"></i
                >Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Contenido del Tab Publicar-->
  <div class="tab-pane" id="mercado-libre-tab">
    <div class="card-deck">
      <div class="card shadow">
        <div class="card-body">
          <!-- <div class="form-group row mb-2"> -->
            <!--Columna 1 IZQ-->
            <!-- <div class="col-md-4 izq-aling"> -->
              <!-- Grupos de filas -->
              <!-- <div class="form-group row mb-2">
                <div class="col-md-4 izq-aling">
                  <div class="row mb-2 label-wrapper">
                    <div class="col-md-6">
                      <label class="control-label" for="stock_risk" title=""
                        >Flex:</label
                      >
                    </div>
                    <div class="col-md-1">
                      <div
                        class="ico-help"
                        title="Habilitar o deshabilitar envios flex en las ventas del sistema en Mercado libre."
                      >
                        <i class="fa fa-question-circle"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="flex"
                      id="customSwitch1"
                      [(ngModel)]="flex"
                    />
                    <label
                      class="custom-control-label"
                      for="customSwitch1"
                      *ngIf="flex"
                      >Habilitado</label
                    >
                    <label
                      class="custom-control-label"
                      for="customSwitch1"
                      *ngIf="!flex"
                      >Deshabilitado</label
                    >
                  </div>
                </div>
              </div>
            </div> -->

            <!--Columna 2 MEDIO-->
            <!-- <div class="col-md-4 izq-aling"> -->
              <!-- Grupos de filas -->
              <!-- <div class="form-group row mb-2">
                <div class="col-md-6 izq-aling">
                  <div class="row mb-2 label-wrapper">
                    <div class="col-md-8">
                      <label class="control-label" for="stock_risk" title=""
                        >Tipo de Publicación:</label
                      >
                    </div>
                    <div class="col-md-1">
                      <div
                        class="ico-help"
                        title="Seleccionar el tipo de publicación con que se publicarán todos los productos en Mercado Libre."
                      >
                        <i class="fa fa-question-circle"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <select
                    class="custom-select"
                    name="listingType"
                    id="listingType"
                    [(ngModel)]="listingType"
                    [compareWith]="compareListingType"
                  >
                    <option
                      *ngFor="let list of listingTypeList"
                      [value]="list.id"
                    >
                      {{ list.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div> -->

            <!--Columna 3 DER-->
            <!-- <div class="col-md-4 izq-aling"> -->
              <!-- Grupos de filas -->
            <!-- </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button
                class="btn btn-outline-primary mr-1"
                (click)="savePublicationProperties()"
              >
                <i *ngIf="loading" class="fas fa-spin fa-spinner m-1"></i>
                Guardar
              </button>
              <button
                class="btn btn-outline-secondary ml-1"
                (click)="cancelProperties()"
              >
                <i *ngIf="canceling" class="fas fa-spin fa-spinner m-1"></i
                >Cancelar
              </button>
            </div>
          </div> -->


          <!--COMPONENT TO CONFIGURE BY PROFILES-->
         <!-- <app-account-profile></app-account-profile> -->

         <!--COMPONENT TO ENABLE OR DISABLE FLEX BY ACCOUNT-->
         <app-enable-disable-flex-by-accounts></app-enable-disable-flex-by-accounts>
         <div class="separate-config">
           <app-configure-categories></app-configure-categories>
         </div>

        </div>
      </div>
    </div>
  </div>
</div>
