 <!-- Sidebar -->
 <ul #sidebarItem class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
    <div class="sidebar-brand-icon rotate-n-15">
      <img class="img-profile rounded-circle logo-size" [src]="logoSrc">
    </div>
    <div class="sidebar-brand-text mx-3">Pepeganga</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link"
    routerLink="/home/dashboard"
    routerLinkActive="active"
    *ngIf="sidebarService.hashRoles(['ROLE_ADMIN', 'ROLE_SELLER'])"
    >
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span [hidden]="toggled" class="ml-2">Tablero de control</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
 <!-- <div class="sidebar-heading">
    Inventario
  </div> -->


    <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" *ngFor="let item of sidebarService.storeMenu; let i=index">
    <a routerLinkActive="active" class="nav-link collapsed" href="#"  data-toggle="collapse" [attr.data-target]="'#test'+i" aria-expanded="true" [attr.aria-controls]="'test'+i">
      <i [class]="item.icon"></i>
      <span [hidden]="toggled" class="ml-2">{{ item.title }}</span>
    </a>
    <div  [id]="'test'+i" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6  class="collapse-header">{{ item.subtitle }}</h6>
        <div *ngFor="let subitem of item.submenu" >

          <a class="collapse-item" *ngIf="sidebarService.hashRoles(subitem.roles)" [routerLink]="subitem.url" >
            {{ subitem.title }}
          </a>
        </div>

      </div>
    </div>
 <!-- Divider -->
  <hr  [class]="item.divider">
 </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div  class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggled=!toggled"></button>
  </div>

</ul>
<!-- End of Sidebar -->
