<!-- Earnings (Monthly) Card Example -->

  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2 animated--grow-in">
          <div
            class="text-xs font-weight-bold text-primary text-uppercase mb-1"
          >
            Total de ventas
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">
            <i class="fas fa-chevron-circle-down text-success"></i> Pagadas: {{ countAllSalesPaid }}
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">
            <i class="far fa-times-circle text-danger"></i> Canceladas: {{ countAllSalesCancelled }}
          </div>
        </div>
        <div class="col-auto">
          <i [ngClass]="{'text-primary': !hiddenSellChart, 'text-gray-300': hiddenSellChart}" class="fas fa-chart-line fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

