<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardFilterProductStorage" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="false" aria-controls="collapseCardFilterProductStorage">
    <h6 class="m-0 font-weight-bold text-primary">Buscar por...</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardFilterProductStorage">
    <form #f="ngForm">
      <div class="card-body container">

        <div class="row p-3">
          <div class="col-md-6">

            <div class="form-group">
              <label for="idNameProduct">Nombre:</label>
              <input type="text" class="form-control" name="nameSeach" [(ngModel)]="nameSeach" id="idNameProduct"
                placeholder="Buscar por nombre...">
            </div>

            <div class="form-group">
              <label for="idSku">SKU:</label>
              <input type="text" class="form-control" name="skuSearch" [(ngModel)]="skuSearch" id="idSku"
                placeholder="Buscar por SKU...">
            </div>

          </div>
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputFamily">Familia:</label>
                  <select name="typeFamilySearch" [(ngModel)]="typeFamilySearch" id="inputFamily" class="form-control">
                    <option [value]="typeFamilySearchClear">Todas</option>
                    <option *ngFor="let family of productStoreService.families" [value]="family.id">
                      {{family.description}} </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputCategory">Categoría:</label>
                  <select name="typeCategorySearch" [(ngModel)]="typeCategorySearch" id="inputCategory"
                    class="form-control">
                    <option [value]="typeCategorySearchClear">Todas</option>
                    <option *ngFor="let category of productStoreService.categories" [value]="category.id">
                      {{category.description}} </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-md-0">
                  <div class="row" style="margin-bottom: 1rem">
                    <div class="col-sm-6">
                      <label for="idMinPriceSearch">Precio mín:</label>
                      <input class="form-control text-box single-line" type="number" step="5" min="0" max="100000"
                        [(ngModel)]="minValue" name="idMinPriceSearch" id="idMinPriceSearch">
                    </div>
                    <div class="col-sm-6">
                      <label for="idMaxPriceSearch">Precio máx:</label>
                      <input class="form-control text-box single-line" type="number" step="5" min="0" max="100000"
                        [(ngModel)]="maxValue" name="idMaxPriceSearch" id="idMaxPriceSearch">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="meliUbicationId">Ubicación:</label>
                  <div class="dropdown" id="meliUbicationId">
                    <button class="btn dropdown-toggle btn-outline-primary" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mercado Libre
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                      <a class="dropdown-item" href="#">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" name="notExistInMeli" [(ngModel)]="notExistInMeli">
                          <label class="custom-control-label" for="customCheck1"> Sin ubicación</label>
                        </div>
                      </a>

                      <a class="dropdown-item" href="#">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" name="existInMeli" [(ngModel)]="existInMeli">
                            <label class="custom-control-label" for="customCheck2"> En marketplace</label>
                          </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">

            <button class="btn btn-outline-primary mr-1" (click)="searchProducts()">
              <i *ngIf="!loadPaginator" class="fas fa-search m-1"></i> <i *ngIf="loadPaginator"
                class="fas fa-spin fa-spinner m-1"></i> Buscar</button>
            <button class="btn btn-outline-secondary ml-1" (click)="clearSearch(f)"> <i *ngIf="loadingClear"
                class="fas fa-spin fa-spinner m-1"></i><i *ngIf="!loadingClear" class="fas fa-broom m-1"></i>
              Limpiar</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">

    <div
      class="d-flex flex-md-row flex-sm-column align-items-md-center justify-content-md-between align-items-sm-center justify-content-sm-center">
      <h6 class="m-0 font-weight-bold text-primary">Listado de productos</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle btn btn-primary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" [class.disabled]="disabled">
          <i class="fas fa-paper-plane"></i>
          Seleccionar a marketplace
          <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in btn-block"
          aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Pre-publicar en:</div>
          <div *ngFor="let market of marketplaces">
            <a class="dropdown-item pointer" (click)="selectMyProducts(market.id)">{{market.name}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>
              <div class="custom-control custom-checkbox ">
                <input type="checkbox" #checkAllP ([ngModel])="checkAll" [disabled]="loading"
                  (click)="selectAllProducts()" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck"></label>
              </div>
            </th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>SKU</th>
            <th>Familia</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th class="text-right">Cantidad</th>
            <th class="text-center">Ubicación</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of pageProducts.itemsGrid">
            <td>
              <div class="custom-control custom-checkbox small">
                <input type="checkbox" [ngModel]="product.selected" (change)="selectProduct(product)"
                  class="custom-control-input" [id]="'check' + product.sku">
                <label class="custom-control-label" [for]="'check' + product.sku"></label>
              </div>
            </td>
            <td>
              <img class="img-fluid rounded" width="50px" height="50px" [src]="product.images |uploadImage" alt="Imagen">
            </td>
            <td>
              <p [ngbTooltip]="product.name">
                {{ product.name|slice:0:45}}
              </p>
            </td>
            <td>{{ product.sku}}</td>
            <td *ngIf="product.family">{{ product.family.description }}</td>
            <td *ngIf="!product.family">Sin familia</td>
            <td>
              <div *ngIf="product.categories.length > 0" class="dropdown no-arrow">
                {{product.categories[0].description}}
                <span class="dropdown-toggle badge badge-pill badge-primary" href="#" role="button"
                  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  *ngIf="product.categories.length > 1">
                  {{ product.categories.length}} <i class="fas fa-eye"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item dropdown-item" *ngFor="let item of product.categories">
                      {{ item.description }}</li>
                  </ul>
                </div>
              </div>
              <div *ngIf="product.categories.length === 0" class="dropdown no-arrow">
                <span>Sin categoría</span>
              </div>
            </td>
            <td>UYU {{ product.priceUYU}} / $ {{product.priceUSD}}</td>
            <td class="text-right">{{ product.currentStock}} </td>
            <td>
              <div class="card-container">

                <a *ngIf="product.existInMeliStore" [ngbTooltip]="toolTipMeli" class="circle-link"
                  routerLink="/home/publish-myproducts" rel="noopener">
                  <img src="assets/img/mercadolibre.svg" width="22.013" height="23.653" alt="">
                </a>

              </div>

            </td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="row justify-content-around" *ngIf="pageProducts?.itemsGrid">
      <ngb-pagination (pageChange)="loadProductsPaginator($event)" [collectionSize]="pageProducts.totalElements"
        [(page)]="currentPage" [maxSize]="3" [pageSize]="size" [boundaryLinks]="true"></ngb-pagination>

      <div class="form-group">
        <select (change)="selectChangeHandler($event.target.value)" class="form-control">
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
      </div>

       <!--Table Paginator Info-->
       <app-table-paginator-info [total] = "pageProducts?.totalElements" ></app-table-paginator-info>

    </div>

    <div class="row justify-content-center" *ngIf="errorProducts">

      <div class="alert alert-info col-8 text-center" role="alert">
        <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No hay productos para mostrar
      </div>

    </div>

    <div class="row justify-content-center" *ngIf="empySearch">

      <div class="alert alert-info col-10 text-center" role="alert">
        <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No se encontraron productos con los
        criterios de búsqueda especificados
      </div>

    </div>

  </div>

</div>

<!-- Logout Modal-->
<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Categorías producto: </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<app-global-loading [globalLoading]="loading" [globalLoadingDescription]="'Cargando productos...'"></app-global-loading>
<app-global-loading [globalLoading]="loadingStoringModal" [globalLoadingDescription]="'Almacenando productos...'">
</app-global-loading>
