.syncUpSelected{margin-right: 2px;}
.actionbox{
    width: 2em !important;
    height: 2em !important;
  }
  .actionboxicon{
    text-align: start;
}
.dropdown-item:hover{
  background-color: #0e41db54;
}
.dropdown-item{
  padding-left: 2%;
}


.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.special-paused{
  background-color: lightgrey !important;
}

.dropdown-actions{
  margin-left: auto;
  margin-right: 2px;
}



