
<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardFilterProductStorage" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="false" aria-controls="collapseCardFilterProductStorage">
    <h6 class="m-0 font-weight-bold text-primary">Buscar por...</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardFilterProductStorage">
    <form action="" #f="ngForm">
      <div class="card-body container">

        <div class="row p-3">
          <div class="col-md-6">

            <div class="form-group">
              <label for="idTitle">Título:</label>
              <input type="text" class="form-control" name="titleSearch" [(ngModel)]="titleSearch" id="idTitle"
                placeholder="Buscar por título...">
            </div>

            <div class="form-group">
              <label for="idSku">SKU:</label>
              <input type="text" class="form-control" name="skuSearch" id="idSku" [(ngModel)]="skuSearch" placeholder="Buscar por SKU...">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="idMeliSearch">Id Mercado Libre:</label>
              <input type="text" class="form-control" name="idMeliSearch" id="idMeliSearch" [(ngModel)]="idMeliSearch"
                placeholder="Buscar por id de Mercado Libre...">
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputFamily">Cuenta de Mercado Libre:</label>
                  <select name="meliAccountSearch" id="meliAccountSearch" class="form-control" [(ngModel)]="meliAccountSearch">
                    <option [value]="meliAccountSearchClear">Todas</option>
                     <option *ngFor="let meli of meliAccountsList" [value]="meli.id">
                        {{meli.businessName}} </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="typeStateSearch">Estado:</label>
                  <select name="typeStateSearch" id="typeStateSearch" [(ngModel)]="typeStateSearch" class="form-control">
                    <option [value]="typeStateSearchClear">Todas</option>
                    <option [value]="statesOfMeli.ACTIVE">Activo</option>
                    <option [value]="statesOfMeli.IN_PROCESS">En proceso</option>
                    <option [value]="statesOfMeli.PAUSED">Pausado</option>
                    <option [value]="statesOfMeli.CLOSED">Cerrado</option>
                    <option [value]="statesOfMeli.UNDER_REVIEW">En revisión</option>
                    <option [value]="statesOfMeli.INACTIVE">Inactivo</option>
                    <option [value]="statesOfMeli.PAYMENT_REQUIRED">Pago requerido</option>
                    <option [value]="statesOfMeli.FAIL">Fallado</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">

            <button class="btn btn-outline-primary mr-1" (click)="searchProductsPublished()">
              <i *ngIf="!loadPaginator" class="fas fa-search m-1"></i> <i *ngIf="loadPaginator"
                class="fas fa-spin fa-spinner m-1"></i> Buscar</button>
            <button class="btn btn-outline-secondary ml-1" (click)="clearSearch(f)"> <i *ngIf="loadingClear"
                class="fas fa-spin fa-spinner m-1"></i><i *ngIf="!loadingClear" class="fas fa-broom m-1"></i>
              Limpiar</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div
      class="d-flex flex-md-row flex-sm-column align-items-md-center justify-content-md-between align-items-sm-center justify-content-sm-center">
      <h6 class="m-0 font-weight-bold text-primary">Listado de productos publicados</h6>
      <div class="dropdown no-arrow">
        <div>
            <button class="btn btn-primary syncUpSelected" id="syncUpSelected" [class.disabled]="disable" (click)="!disable ? synchronizePublication(): ''"><i
              class="fas fa-sync-alt"></i> Sincronizar seleccionados</button>

          <a class="dropdown-toggle btn btn-primary" href="javascript:void(0);" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [class.disabled]="disable">
            <i class="fas fa-mouse-pointer"></i>
            Seleccionar Acción
            <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in btn-block"
            aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item pointer" href="javascript:void(0);" (click)="republishMultiplePublications()"><i class="fas fa-redo-alt text-primary m-2"></i>
              Republicar Seleccionados</a>
            <a class="dropdown-item pointer" href="javascript:void(0);" (click)= "changeStatusMultiplePublications(4)"><i class="fas fa-play text-info m-2"></i>
              Reactivar Seleccionados</a>
            <a class="dropdown-item pointer" href="javascript:void(0)" (click)= "changeStatusMultiplePublications(3)"><i class="fas fa-pause m-2 text-secondary"></i>
              Pausar Seleccionados</a>
            <a class="dropdown-item pointer" href="javascript:void(0)" (click)= "changeStatusMultiplePublications(5)"><i class="fas fa-stop text-secondary m-2"></i>
              Finalizar Seleccionados</a>
              <a class="dropdown-item pointer" href="javascript:void(0)" (click)="deleteSetPublication(false)"><i class="fas fa-trash text-danger m-2"></i>
                Eliminar Seleccionados</a>
          </div>

        </div>
      </div>
<!--
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle btn btn-danger" href="javascript:void(0);" role="button" id="dropdownMenuDelete"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-trash"></i>
        Eliminar
        <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in btn-block"
        aria-labelledby="dropdownMenuDelete" style="width: auto;">
        <a class="dropdown-item pointer" href="javascript:void(0);" (click)="deleteSetPublication(true)"><i class="fas fa-trash text-danger m-2"></i>
          Eliminar todos</a>
        <a class="dropdown-item pointer" *ngIf="!disable" href="javascript:void(0);" (click)="deleteSetPublication(false)"><i class="fas fa-trash text-danger m-2"></i>
          Eliminar seleccionados</a>
      </div>
    </div>
  -->
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>
              <div class="custom-control custom-checkbox ">
                <input type="checkbox" #checkAllP ([ngModel])="checkAll" [disabled]="loading" (click)="selectAllProducts()"
                  class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck"></label>
              </div>
            </th>
            <th>Imagen</th>
            <th>Título</th>
            <th>Última actualización</th>
            <th>Meli Id</th>
            <th>SKU</th>
            <th>Estado</th>
            <th>Flex</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Cuenta de Meli</th>
            <th class="text-right">Acción</th>
          </tr>
        </thead>

        <tbody *ngIf="pagePublised.totalElements > 0">
            <tr *ngFor="let product of productsMeliPublished" [ngClass]="{'special-paused': product.specialPaused === 1}" >
              <td>
                <div class="custom-control custom-checkbox small">
                  <input type="checkbox" [ngModel]="product.selected" (change)="selectProduct(product)"
                    class="custom-control-input" [id]="'check' + product.id" [disabled]="product.specialPaused === 1">
                  <label class="custom-control-label" [for]="'check' + product.id"></label>
                </div>
              </td>
              <td>
                <img class="img-fluid rounded" width="50px" height="50px" [src]="product.images |uploadImage" alt="Imagen">
              </td>
              <td  >
                <p [ngbTooltip]="product.title">
                  {{ product.title |slice:0:45}}
                </p>

              </td>
              <td>{{ product.lastUpgrade |date:'dd/MM/yyyy'}}</td>
              <td><a [href]="product.permalink" target="_blanck">{{product.idPublicationMeli}}</a></td>
              <td>{{ product.sku }}</td>
              <td>
                <div *ngIf="product.status === 'closed'" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-dark mb-0"
                role="alert" ngbTooltip="Publicación finalizada">
                <i class="far fa-stop-circle mt-1 mr-1"></i><span>Finalizada</span>
              </div>

                <div *ngIf="product.status === 'fail'" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-danger mb-0"
                  role="alert" ngbTooltip="Publicación fallida">
                  <i class="far fa-times-circle mt-1 mr-1"></i><span>Fallida</span>
                </div>

                <div *ngIf="product.status === 'active'" style="padding: 0.25rem 1.25rem;"
                  class="d-flex flex-nowrap flex-row alert alert-sm alert-success  mb-0" role="alert" ngbTooltip="Publicación activa">
                  <i class="far fa-check-circle  mt-1 mr-1"></i><span>Activa</span>
                </div>

                <div *ngIf="product.status === 'paused'" style="padding: 0.25rem 1.25rem;"
                  class="d-flex flex-nowrap flex-row alert alert-sm alert-dark  mb-0" role="alert" ngbTooltip="Publicación pausada">
                  <i class="far fa-pause-circle mt-1 mr-1"></i> <span>Pausada</span>

                </div>

                <div *ngIf="product.status === 'in process'" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-sm alert-info  mb-0" role="alert" ngbTooltip="Publicación en proceso">
                <i class="far fa-play-circle mt-1 mr-1"></i> <span>En proceso</span>
              </div>

              <div *ngIf="product.status === 'under_review'" style="padding: 0.25rem 1.25rem;"
                  class="d-flex flex-nowrap flex-row alert alert-sm alert-dark  mb-0" role="alert" ngbTooltip="Publicación bajo revisión">
                  <i class="fas fa-minus-circle mt-1 mr-1"></i> <span>En revisión</span>
                </div>

              <div *ngIf="product.status === 'inactive'" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-sm alert-dark  mb-0" role="alert" ngbTooltip="Publicación inactiva">
                <i class="fas fa-minus-circle mt-1 mr-1"></i> <span>Inactivo</span>
              </div>

              <div *ngIf="product.status === 'payment required'" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-sm alert-dark  mb-0" role="alert" ngbTooltip="Publicación requerida de pago">
                <i class="fas fa-minus-circle mt-1 mr-1"></i> <span>requerido de pago</span>
              </div>

              </td>
              <td>
                <div *ngIf="product.flex === 0" class="d-flex flex-wrap"
                  role="alert" ngbTooltip="Flex inactivo">
                  <span class="badge badge-secondary m-1">no flex</span>
                </div>
                <div *ngIf="product.flex === 1" class="d-flex flex-wrap" role="alert"
                  ngbTooltip="Flex activo">
                  <span class="badge badge-success m-1">flex</span>
                </div>
                <div *ngIf="product.flex === 2 || product.flex === null" class="d-flex flex-wrap"
                  role="alert" ngbTooltip="Sin confirmar la información en mercado libre. ">
                  <span class="badge badge-warning m-1"> sin confirmar</span>
                </div>
              </td>
              <td>UYU <strong>{{product.pricePublication }}</strong></td>
              <td class="text-right"> {{ product.currentStock }} </td>
              <td>{{ product.accountName }}</td>
              <td class="text-right">
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle btn btn-outline-primary actionbox" href="#" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw actionboxicon"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in btn-block"
                    aria-labelledby="dropdownMenuLink">
                    <a *ngIf="(product.status === 'active' || product.status === 'fail') && product.specialPaused !== 1"  class="dropdown-item pointer" (click)="navegateToEdit(product)"><i
                        class="far fa-eye m-2 text-info"></i> Ver</a>
                    <a *ngIf="product.status === 'closed' && product.specialPaused !== 1"  class="dropdown-item pointer" (click)= "republishPublication(product)" ><i class="fas fa-redo-alt text-primary m-2"></i> Republicar</a>
                    <a *ngIf="product.status === 'paused' && product.specialPaused !== 1" class="dropdown-item pointer"
                    (click)="changeStatusPublication(product, 4)"><i
                        class="fas fa-play text-info m-2"></i>
                      Reactivar</a>
                    <a *ngIf="product.status === 'active' && product.specialPaused !== 1" class="dropdown-item pointer"
                      (click)="changeStatusPublication(product, 3)"><i class="far fa-pause-circle m-2 text-secondary"></i>
                      Pausar</a>
                    <a *ngIf="product.status !== 'closed' && product.status !== 'fail' && product.status !== 'inactive'" class="dropdown-item pointer" (click)="changeStatusPublication(product, 5)" ><i class="far fa-stop-circle text-secondary m-2"></i> Finalizar</a>

                    <a class="dropdown-item pointer" (click)="deletePublication(product)"><i
                      class="fas fa-trash m-2 text-danger"></i>Eliminar</a>
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
      </table>

    </div>

    <div class="row justify-content-around" *ngIf="pagePublised.totalElements">
      <ngb-pagination (pageChange)="loadProductByPage($event)" [collectionSize]="pagePublised.totalElements"
        [(page)]="page" [(pageSize)]="size" [maxSize]="3" [boundaryLinks]="true"></ngb-pagination>

      <div class="form-group">
        <select (change)="selectChangeHandler($event.target.value)" class="form-control">
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
      </div>

       <!--Table Paginator Info-->
       <app-table-paginator-info [total] = "pagePublised?.totalElements" ></app-table-paginator-info>

    </div>

    <div class="row justify-content-center" *ngIf="errorProducts">

      <div class="alert alert-info col-8 text-center" role="alert">
        <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No hay productos para mostrar
      </div>

    </div>

    <div class="row justify-content-center" *ngIf="emptySearch">

      <div class="alert alert-info col-10 text-center" role="alert">
        <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No se encontraron productos con los
        criterios de búsqueda especificados
      </div>

    </div>

  </div>

</div>


<!--  Modal para cargando -->
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content modal-content-loading">
      <div class="modal-header" hidden>
        <h5 class="modal-title" id="loadingModalLabel">Modal title</h5>
        <button type="button" class="close" #closeModal data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i *ngIf="loadingModal" class="fas fa-spin fa-3x fa-spinner"></i>
      </div>

    </div>
  </div>
</div>


<app-global-loading [globalLoading]="loading" [globalLoadingDescription]="msgLoading">
</app-global-loading>
