<div class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div *ngIf="userEnabled" class="col-xl-6 col-lg-8 col-md-6 py-5">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cambiar contraseña!</h1>
                  </div>

                  <form [formGroup]="registerForm" autocomplete="on" (ngSubmit)="resetPassword()" class="user">
                    <div class="form-group">
                      <input [class.is-invalid]="fieldNotValid('password')" type="password" formControlName="password"
                        class="form-control form-control-user" id="exampleInputPassword" placeholder="Nueva contraseña"
                        required minlength="4">

                      <div *ngIf="fieldNotValid('password') && password.errors.required" class="invalid-feedback">
                        <strong class="ml-3">
                          Este campo es obligatorio.
                        </strong>
                      </div>
                      <div *ngIf="fieldNotValid('password') && password.errors.minlength" class="invalid-feedback">
                        <strong class="ml-3">
                          Su contraseña debe tener al menos 4 caracteres.
                        </strong>
                      </div>
                    </div>


                    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary btn-user btn-block">
                      <i *ngIf="loadingButton" class="fas fa-spin fa-spinner fa-2x ml-2"></i>
                      <span *ngIf="!loadingButton"> Cambiar contraseña</span>
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" routerLink="/auth/login">Recordé mi contraseña? Entra!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="!userEnabled" class="col-xl-6 col-lg-8 col-md-6 py-5">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col">
                <div class="p-5">
                  <div>
                    <h1 class="h4 text-gray-900 mb-4">Usuario deshabilitado!</h1>
                  </div>

                  <p class="card-text">Su usuario se encuentra inhabilitado temporalmente, por favor contacte con el administrador!</p>
                  <hr>
                  <div class="text-center">
                    <a class="small" routerLink="/auth/login">Ir al inicio!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
