<div class="card border-left-success shadow h-100 py-2">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2 animated--grow-in">
        <div
          class="text-xs font-weight-bold text-success text-uppercase mb-1"
        >
          Producto más vendido
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800">
          {{ betterSku }}
        </div>
      </div>
      <div class="col-auto">
        <i class="fas fa-shipping-fast fa-2x text-gray-300"></i>
      </div>
    </div>
  </div>
</div>
