<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardFilterProductStorage" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="false" aria-controls="collapseCardFilterProductStorage">
    <h6 class="m-0 font-weight-bold text-primary">Buscar por...</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardFilterProductStorage">
    <form #f="ngForm">
      <div class="card-body container">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" name="clientNameSearch" [(ngModel)]="clientNameSearch"
                id="idClientName" placeholder="Nombre del cliente...">
            </div>
          </div>
          <div class="col-md-6">

            <div class="input-group mb-3">
              <select class="custom-select" name="orderStatusSearch" [(ngModel)]="orderStatusSearch"
                id="inputGroupOrderStatus">
                <option [value]="orderStatusClear">Todos</option>
                <option value="paid">Pagada</option>
                <option value="cancelled">Cancelada</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text" for="inputGroupOrderStatus">Estado de la órden</label>
              </div>
            </div>


          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="Fecha desde: yyyy-mm-dd" name="dp" [(ngModel)]="modelFrom" ngbDatepicker
                  #dateFrom="ngbDatepicker" [maxDate]=modelTo>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dateFrom.toggle()" type="button"><i
                      class="fas fa-calendar-alt"></i></button>
                </div>
              </div>
            </div>

            <div *ngIf="errorDateFrom" style="padding: 0.25rem 1.25rem;"  class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Fecha</strong> con formato incorrecto
              <button style="padding: 0.25rem 1.25rem;"  type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div class="col-md-6">

            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="Fecha hasta: yyyy-mm-dd" name="dp" [(ngModel)]="modelTo" ngbDatepicker
                  [minDate]="modelFrom" #dateTo="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dateTo.toggle()" type="button"><i
                      class="fas fa-calendar-alt    "></i></button>
                </div>
              </div>
            </div>
            <div *ngIf="errorDateTo" style="padding: 0.25rem 1.25rem;"  class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Fecha</strong> con formato incorrecto
              <button style="padding: 0.25rem 1.25rem;"  type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col d-flex justify-content-center">
            <button class="btn btn-outline-primary mr-1" (click)="searchOrders()">
              <i *ngIf="!loadingSearch" class="fas fa-search m-1"></i>
              <i *ngIf="loadingSearch" class="fas fa-spin fa-spinner m-1"></i>
              Buscar
            </button>
            <button (click)="clearOrders()" class="btn btn-outline-secondary ml-1">
              <i *ngIf="loadingClear" class="fas fa-spin fa-spinner m-1"></i>
              <i *ngIf="!loadingClear" class="fas fa-broom m-1"></i>
              Limpiar
            </button>
          </div>
        </div>
      </div>
    </form>


  </div>
</div>


<div class="card shadow mb-4">
  <div class="card-header py-3">

    <div
      class="d-flex flex-md-row flex-sm-column align-items-md-center justify-content-md-between align-items-sm-center justify-content-sm-center">
      <h6 class="m-0 font-weight-bold text-primary">Órdenes</h6>
    </div>
  </div>


  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Estado</th>
            <th>Estado del envío</th>
            <th>Cliente</th>
            <th>Fecha creación</th>
            <th>Monto total</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of orderPage.content; let i = index ">
            <td>{{ i + 1}}</td>
            <td>

              <div *ngIf="item.status === 'cancelled'" style="padding: 0.25rem 1.25rem;" class="alert alert-danger mb-0"
                role="alert">
                <i class="far fa-times-circle"></i> Cancelada
              </div>

              <div *ngIf="item.status === 'paid'" style="padding: 0.25rem 1.25rem;"
                class="alert alert-sm alert-success  mb-0" role="alert">
                <i class="far fa-check-circle"></i> Pagada
              </div>

            <td>{{item.shippingId}}</td>
            <td>{{ item.seller.nickname }}</td>
            <td>{{ item.dateCreated |date:'dd-MM-yyyy'}}</td>
            <td>{{ item.totalAmount}}</td>

          </tr>


        </tbody>
      </table>

      <div class="container" *ngIf="orderPage.totalElements > 0">
        <div class="row justify-content-around">
          <ngb-pagination (pageChange)="loadProductsPaginator($event)" [collectionSize]="orderPage.totalElements"
            [boundaryLinks]="true" [pageSize]="size" [(page)]="page">
          </ngb-pagination>


          <div class="form-group">
            <select (change)="selectChangeHandler($event.target.value)" class="form-control">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>

          <div class="dataTables_info py-2 " id="dataTable_info" role="status" aria-live="polite">
            <span class="align-middle">Mostrando {{page}} a {{size}} de {{orderPage.totalElements}} registros</span>

          </div>
        </div>


      </div>

      <div class="row justify-content-center" *ngIf="orderPage.totalElements === 0 && !emptySearch">

        <div class="alert alert-info col-8 text-center" role="alert">
          <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No hay órdenes para mostrar
        </div>

      </div>

      <div class="row justify-content-center" *ngIf="emptySearch">

        <div class="alert alert-info col-10 text-center" role="alert">
          <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No se encontraron órdenes con los
          criterios de búsqueda especificados
        </div>

      </div>
    </div>
