<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardFilterProductStorage" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="false" aria-controls="collapseCardFilterProductStorage">
    <h6 class="m-0 font-weight-bold text-primary">Buscar por...</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardFilterProductStorage">
    <form #f="ngForm">
      <div class="card-body container">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" name="clientNameSearch" [(ngModel)]="clientNameSearch"
                id="idClientName" placeholder="Nombre del cliente...">
            </div>
          </div>
          <div class="col-md-6">

            <div class="input-group mb-3">
              <select class="custom-select" name="orderStatusSearch" [(ngModel)]="orderStatusSearch"
                id="inputGroupOrderStatus">
                <option [value]="orderStatusClear">Todos</option>
                <option value="paid">Pagada</option>
                <option value="cancelled">Cancelada</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text" for="inputGroupOrderStatus">Estado de la órden</label>
              </div>
            </div>


          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <div class="input-group">
                <input class="form-control"
                [formControl]="dateFromControl" [class.is-invalid]="dateFromControl.invalid"
                placeholder="Fecha desde: yyyy-mm-dd" readonly  name="dp"
                (dateSelect)="onDateFromSelection($event)"
                ngbDatepicker #dateFrom="ngbDatepicker" [maxDate]="dateToControl.value" >
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dateFrom.toggle()" type="button"><i
                      class="fas fa-calendar-alt"></i></button>
                </div>
              </div>
            </div>
            <div *ngIf="dateFromControl.invalid" style="padding: 0.25rem 1.25rem;"
              class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Fecha</strong> no válida
              <button style="padding: 0.25rem 1.25rem;" type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" [formControl]="dateToControl" [class.is-invalid]="dateToControl.invalid"
                  placeholder="Fecha hasta: yyyy-mm-dd" readonly [minDate]="dateFromControl.value" name="dateTo" ngbDatepicker
                  (dateSelect)="onDateToSelection($event)"#dateTo="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dateTo.toggle()" type="button"><i
                      class="fas fa-calendar-alt    "></i></button>
                </div>

              </div>
            </div>

            <div *ngIf="dateToControl.invalid" style="padding: 0.25rem 1.25rem;"
            class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Fecha</strong> no válida
            <button style="padding: 0.25rem 1.25rem;" type="button" class="close" data-dismiss="alert"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          </div>
        </div>


        <div class="row">
          <div class="col d-flex justify-content-center">
            <button [disabled]="dateFromControl.invalid || dateToControl.invalid " class="btn btn-outline-primary mr-1" (click)="searchOrders()">
              <i *ngIf="!loadingSearch" class="fas fa-search m-1"></i>
              <i *ngIf="loadingSearch" class="fas fa-spin fa-spinner m-1"></i>
              Buscar
            </button>
            <button (click)="clearOrders()" class="btn btn-outline-secondary ml-1">
              <i *ngIf="loadingClear" class="fas fa-spin fa-spinner m-1"></i>
              <i *ngIf="!loadingClear" class="fas fa-broom m-1"></i>
              Limpiar
            </button>
          </div>
        </div>
      </div>
    </form>


  </div>
</div>


<div class="card shadow mb-4">
  <div class="card-header py-3">

    <div
      class="d-flex flex-md-row flex-sm-column align-items-md-center justify-content-md-between align-items-sm-center justify-content-sm-center">
      <h6 class="m-0 font-weight-bold text-primary">Órdenes</h6>
    </div>
  </div>


  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-right">ID</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Fecha creación</th>
            <th>Monto</th>
            <th>Factura</th>
            <th>Salida del almacén</th>
            <th *ngIf="isAdmin()">Enviado a ERP</th>
            <!-- <th>Acciones</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of orderPage.content; let i = index ">
            <td class="text-right"> {{ item.id }} </td>
            <td>
              <div *ngIf="item.status === 'cancelled'" style="padding: 0.25rem 1.25rem;" class="alert alert-danger mb-0"
                role="alert">
                <i class="far fa-times-circle"></i> Cancelada
              </div>

              <div *ngIf="item.status === 'paid'" style="padding: 0.25rem 1.25rem;"
                class="alert alert-sm alert-success  mb-0" role="alert">
                <i class="far fa-check-circle"></i> Pagada
              </div>

            </td>

            <td><label class="w10">{{ item?.buyer?.firstName }}</label></td>
            <td>{{ item.dateCreated |date:'dd-MM-yyyy'}}</td>
            <td>
              <div class="dropdown no-arrow pointer">
                <strong>Total:</strong> {{ getTotal(item) | number:'1.0-2'}}
                <span class="dropdown-toggle badge badge-pill badge-primary" href="#" role="button"
                  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="fas fa-eye" ngbTooltip="Ver más detalles"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item dropdown-item d-flex justify-content-between align-items-center">
                      <span>Venta:</span> <strong>{{ item.totalAmount | number:'1.0-2'}}</strong>
                    </li>
                    <li class="list-group-item dropdown-item d-flex justify-content-between align-items-center">
                      <span>Impuestos:</span> <strong>{{ item.amountTaxes | number:'1.0-2'}}</strong>
                    </li>
                    <li class="list-group-item dropdown-item d-flex justify-content-between align-items-center">
                      <span>Envío:</span> <strong>{{ item.shipment? item.shipment.baseCost : 0 }}</strong>
                    </li>
                    <li class="list-group-item dropdown-item d-flex justify-content-between align-items-center">
                      <strong>Total:</strong>
                      <strong>{{ getTotal(item) | number:'1.0-2'}}</strong>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
            <td>
              <p *ngIf="item.invoiceNumberBss == 0 || item.invoiceNumberBss == null"> Ninguna </p>
              <p *ngIf="item.invoiceNumberBss !== null && item.invoiceNumberBss > 0"> {{ item.invoiceNumberBss }} </p>

            </td>

            <td>

              <div *ngIf="item.operatorBusinessStatus === 0"
                style="padding: 0.25rem 1.25rem;" class="d-flex flex-nowrap flex-row alert alert-sm alert-info  mb-0"
                role="alert" ngbTooltip="El producto está en proceso de empaque">
                <i class="far fa-check-circle  mt-1 mr-1"></i><span>En proceso</span>
              </div>


              <div *ngIf="item.operatorBusinessStatus === 1" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-sm alert-danger  mb-0" role="alert"
                ngbTooltip="El producto no fue entregado">
                <i class="far fa-check-circle  mt-1 mr-1"></i><span>No entregado</span>
              </div>

              <div *ngIf="item.operatorBusinessStatus === 2" style="padding: 0.25rem 1.25rem;"
                class="d-flex flex-nowrap flex-row alert alert-sm alert-success  mb-0" role="alert"
                ngbTooltip="El producto fue entregado al carrier">
                <i class="far fa-check-circle  mt-1 mr-1"></i><span>Entregada</span>
              </div>

            </td>

            <!-- Estado del envío al ERP-->
            <td *ngIf="isAdmin()">

              <div *ngIf="itemProcess === item.id"
                class="d-order d-flex alert alert-sm alert-dismissible  mb-0"
                role="alert" ngbTooltip="La orden está siendo enviada.">
                <i class="far fa-clock mt-1 mr-1"></i><span>En proceso</span>
              </div>

              <div *ngIf="item.sentToErp === 0 && (item.countFails === 1 || item.countFails === 2)"
                class="d-order d-flex alert alert-sm alert-warning  mb-0" role="alert"
                ngbTooltip="Falló al intentar enviar la orden">
                <i class="fas fa-exclamation-triangle mt-1 mr-1"></i><span>Fallado</span>
              </div>

              <div *ngIf="item.sentToErp === 2 && itemProcess !== item.id && itemSent !== item.id"
                class="d-order d-flex alert alert-sm alert-danger  mb-0" role="alert"
                ngbTooltip="Falló al enviar la orden. La orden no fue recibida por el ERP correctamente. Agotados los 3 intentos automáticos del sistema">
                <i class="fas fa-exclamation-circle mt-1 mr-1"></i>
                <span class="dropdown-toggle" href="#" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agotado</span>

                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item dropdown-item d-flex justify-content-between align-items-center">
                     <button class="btn btn-outline-primary" (click)="processPurchases(item)"> <i class="fas fa-redo-alt m-1"></i> Reintentar </button>
                    </li>
                  </ul>
                </div>
              </div>

              <div *ngIf="item.sentToErp === 1 || itemSent === item.id"
                class="d-order d-flex alert alert-sm alert-success  mb-0" role="alert"
                ngbTooltip="La orden fue enviada al ERP correctamente">
                <i class="far fa-check-circle  mt-1 mr-1"></i><span>Enviado</span>
              </div>

              <div *ngIf="item.sentToErp === 0 && item.countFails === 0 "
                class="d-order d-flex alert alert-sm alert-dismissible  mb-0" role="alert"
                ngbTooltip="La orden está pendiente de ser enviada al ERP">
                <i class="far fa-check-circle mt-1 mr-1"></i><span>Pendiente</span>
              </div>

            </td>

            <!-- <td class="text-center">
              <button ngbTooltip="Ver detalles" class="btn btn-outline-primary">
                <i class="far fa-eye"></i>
              </button>
            </td> -->

          </tr>


        </tbody>
      </table>

      <div class="container" *ngIf="orderPage.totalElements > 0">
        <div class="row justify-content-around">
          <ngb-pagination (pageChange)="loadProductsPaginator($event)" [collectionSize]="orderPage.totalElements"
            [boundaryLinks]="true" [maxSize]="3" [pageSize]="size" [(page)]="page">
          </ngb-pagination>


           <div class="form-group">
            <select (change)="selectChangeHandler($event.target.value)" class="form-control">
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="50">50</option>
              <option value="75">75</option>
              <option value="100">100</option>
            </select>
          </div>

          <!--Table Paginator Info-->
          <app-table-paginator-info [total] = "orderPage?.totalElements" ></app-table-paginator-info>

        </div>

      </div>

      <div class="container" *ngIf="orderPage.totalElements == 0">

        <div class="row justify-content-center" *ngIf="emptySearch">

          <div class="alert alert-info col-10 text-center" role="alert">
            <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No se encontraron órdenes con los
            criterios de búsqueda especificados
          </div>

        </div>

        <div class="row justify-content-center" *ngIf="(orderPage.totalElements === 0 && !emptySearch) || errorOrders ">

          <div class="alert alert-info col-8 text-center" role="alert">
            <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No hay órdenes para mostrar
          </div>

        </div>

      </div>


    </div>

    <app-global-loading [globalLoading]="loading" [globalLoadingDescription]="'Cargando órdenes...'">
    </app-global-loading>
