<div class="card border-left-warning shadow h-100 py-2">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2 animated--grow-in">
        <div
          class="text-xs font-weight-bold text-warning text-uppercase mb-1"
        >
          Publicaciones activas
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800">
          {{ countActivePublications }}
        </div>
      </div>
      <div class="col-auto">
        <i class="fas fa-chevron-circle-down fa-2x text-gray-300"></i>
      </div>
    </div>
  </div>
</div>
