.actionbox{
    width: 2em !important;
    height: 2em !important;
  }
.actionboxicon{
    text-align: -moz-left;
}
.dropdown-item:hover{
  background-color: #0e41db54;
}
.dropdown-item{
  padding-left: 2%;
}
