.actionbox{
    width: 2em !important;
    height: 2em !important;
  }
.actionboxicon{
    text-align: start;
}
.dropdown-item:hover{
  background-color: #0e41db54;
}
.dropdown-item{
  padding-left: 2%;
}

.publish-selected{
  min-width: auto !important;
  width: 45rem !important;
}
.ico-help{
  margin-left: 3%;
}

.modal-publish{
  min-width: max-content !important;
}
.modal-opacity{
  background-color: #69696999 !important;
}
.izq-aling{
  padding: inherit;
}

.my-custom-scrollbar {
  position: relative;
  min-height: 8em !important;
  max-height: 12em !important;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.div-table-border{ 
  border: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: #d1d3e2;     
}

/*Para el Modal de Adicionar Info comun*/
