.edit-action.dropdown-item:hover, .dropdown-item:focus
{
  color: #16181b;
  text-decoration: none;
  background-color: #36b9cc;

}

.delete-action.dropdown-item:hover, .dropdown-item:focus
{
  color: #16181b;
  text-decoration: none;
  background-color: #e74a3b;
}

.dropdown-size {
  width: 2em !important;
}

.dropdown-item:hover{
  background-color: #0e41db54;
}
