<!-- DataTales Example -->



<div class="card shadow mb-4">
  <div class="card-header py-3">

    <div
      class="d-flex flex-md-row flex-sm-column align-items-md-center justify-content-md-between align-items-sm-center justify-content-sm-center">
      <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
      <button type="button" class="btn btn-primary btn-sm btn-user" data-toggle="modal" (click)="createModal()"
        data-target="#marketplaceModal">
        <i class="fas fa-plus-circle"></i> Registrar usuario
      </button>
    </div>

  </div>


  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th class="roles-table">Roles</th>
            <th class="roles-table">Marketplaces</th>
            <th>Habilitado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let profile of profiles | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{ profile.firstName }}</td>
            <td>{{ profile.lastName }}</td>
            <td>{{ profile.user.email }}</td>
            <td>
              <div class="d-flex flex-wrap">
                <span *ngFor="let role of profile.user.roles"
                  class="badge badge-secondary m-1">{{ role.description.toUpperCase() }} </span>
              </div>
            </td>
            <td>
              <div class="d-flex flex-wrap">
                <span *ngFor="let marketplace of profile.marketplaces"
                  class="badge badge-warning m-1">{{ marketplace.name != null ? marketplace.name  : 'No asociado' |uppercase }}
                </span>
              </div>
            </td>
            <td class="text-center">
              <div class="custom-control custom-checkbox small">
                <input type="checkbox" [(ngModel)]="profile.user.enabled" (click)="enabledOrDisabled(profile.user)"
                  class="custom-control-input" [id]="'check' + profile.user.id">
                <label class="custom-control-label" [for]="'check' + profile.user.id"></label>
              </div>
            </td>
            <td class="text-center">
              <div class="dropdown no-arrow">
                <a  class="dropdown-toggle btn btn-outline-primary btn-sm actionbox" href="#" role="button"
                  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw actionboxicon"></i>
                </a>
                <div class="dropdown-menu dropdown-size dropdown-menu-right shadow animated--fade-in btn-block"
                  aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item pointer" role="button" data-toggle="modal" data-target="#marketplaceModal"
                    (click)="updateModal(profile)"> <i class="far fa-edit m-2 text-success"></i>Editar</a>
                  <a [ngClass]="{'disabled': verifyCurrentUser(profile)}" class="dropdown-item pointer" (click)="deleteUserProfile(profile)"><i
                      class="fas fa-trash m-2 text-danger"></i>Eliminar</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="container" *ngIf="profiles.length > 0">
        <div class="row justify-content-around">
          <ngb-pagination [collectionSize]="profiles.length" [boundaryLinks]="true" [pageSize]="pageSize"
            [(page)]="page">
          </ngb-pagination>


          <div class="form-group">
            <select (change)="selectChangeHandler($event.target.value)" class="form-control">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>

          <!--Table Paginator Info-->
          <app-table-paginator-info [total] = "profiles?.length" ></app-table-paginator-info>

        </div>
      </div>

    </div>

    <div class="row justify-content-center">

      <div *ngIf="errorUsers" class="alert alert-info col-8 text-center" role="alert">
        <strong><i class="fas fa-info-circle" aria-hidden="true"></i></strong> No hay usuarios para mostrar
      </div>

    </div>
  </div>


  <!-- Logout Modal-->

  <div class="modal fade mt-5" id="marketplaceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="register" class="modal-title" id="createModalLabel">{{headerCreateModal}}</h5>
          <h5 *ngIf="!register" class="modal-title" id="updateModalLabel">{{headerUpdateModal}}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form ngNativeValidate #f="ngForm">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="inputName" placeholder="Nombre"
                    aria-describedby="Nombre del usuario" name="firstName" [(ngModel)]="seletedProfile.firstName"
                    required>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="inputLastName" placeholder="Apellidos"
                    aria-describedby="Apellidos del ususario" name="lastName" [(ngModel)]="seletedProfile.lastName"
                    required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico"
                    aria-describedby="Correo electrónico del usuario" name="email"
                    [(ngModel)]="seletedProfile.user.email" required>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="inputPassword" placeholder="Contraseña del usuario"
                    aria-describedby="Contraseña del usuario" name="password" [(ngModel)]="seletedProfile.user.password"
                    [required]="seletedProfile.id == null ? 'requered' : null">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <ng-select [items]="roles" name="selectedRoles" bindLabel="description"
                    placeholder="Seleccione roles " appendTo="body" multiple="true" required
                    [(ngModel)]="selectedRoles">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <ng-select [items]="marketplaces" name="selectedMarketplaces" bindLabel="name"
                    placeholder="Seleccione marketplace" appendTo="body" multiple="true"
                    [(ngModel)]="selectedMarketplaces">
                  </ng-select>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">

            <button *ngIf="register" class="btn btn-primary" (click)="createOrUpdateUser()" data-dismiss="modal"
              [disabled]="!f.form.valid">Registrar</button>
            <button *ngIf="!register" class="btn btn-primary" (click)="createOrUpdateUser()" data-dismiss="modal"
              [disabled]="!f.form.valid">Actualizar</button>

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>

    </div>
  </div>


  <app-global-loading [globalLoading]="loading" [globalLoadingDescription]="'Cargando usuarios...'" ></app-global-loading>
