<div mat-dialog-title>Adicionar dato común</div>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">

        <div class="card shadow mb-4 cardpopup">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Redactar descripción</h6>
          </div>
          <div class="card-body">
            <textarea class="cardtextarea" placeholder="Descripción" rows="6"></textarea>
          </div>
        </div>
      </div>

      <div class="col-lg-6">

        <div class="card shadow mb-4 cardpopup">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Seleccionar imágenes</h6>
          </div>
          <div class="card-body">
            <div class="uploader">
              <input class="inputbotton" type="file" name="uploadImage" #file accept='image/*' (change)="preview(file.files)">
              <span style="color:red;" *ngIf="message">{{message}}</span>
              <span class="filename" style="user-select: none;">Archivo no cargado</span>
              <span class="actionimage" style="user-select: none;">+</span>
            </div>
              <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-4 col-md-6 mb-4 imagecontainer" *ngFor="let image of imagesList">
                  <a href="javascript:void(0);" class="thumbnail" (click)="deleteImage(image)">
                    <img [src]="image" height="150" width="150">
                  </a>
                </div>  
              </div>
          </div>

      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="row d-block" style="margin-left: 80%;">
    <div class="col-4 float-sm-left">
      <button type="button" class="btn btn-primary">Salvar</button>
    </div>
    <div class="col-4 float-sm-left" style="margin-left: 7%;">
      <button type="button" class="btn btn-secondary">Cancelar</button>
  </div>
  </div>
</div>
