<div mat-dialog-title>Adicionar dato común</div>
<div mat-dialog-content>
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-lg-6">
       
        <div class="card shadow mb-4 cardpopup">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Redactar descripción</h6>
          </div>
          <div class="card-body">            
            <textarea class="cardtextarea" placeholder="Descripción" rows="6"></textarea>           
          </div>
        </div>
      </div>

      <div class="col-lg-6">

        <div class="card shadow mb-4 cardpopup">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Seleccionar imágenes</h6>
          </div>
          <div class="card-body">           
            <div class="uploader">
              <input class="inputbotton" type="file" name="img">
              <span class="filename" style="user-select: none;">Archivo no cargado</span>
              <span class="actionimage" style="user-select: none;">+</span>
            </div>

              <div class="row no-gutters align-items-center imagecontainer">
                <div class="col mr-2">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/200x100" alt="">
                  </a>
                </div>
                <div class="col mr-2">                 
                    <a href="#" class="thumbnail">
                      <img src="http://placehold.it/200x100" alt="">
                    </a>                 
                </div>                
            </div>

            <div class="row no-gutters align-items-center">
              <div class="col mr-2">                
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/200x100" alt="">    
                  </a>                
              </div>
              <div class="col mr-2">               
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/200x100" alt="">                 
                 </a>               
              </div>                
          </div>            

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="row" style="margin-left: 82%;">    
      <button type="button" class="btn btn-primary">Salvar</button>  
      <button type="button" class="btn btn-secondary">Cerrar</button>   
  </div>      
</div>